* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
     font-family: Arial, sans-serif;
     background-color: #f4f4f4;
}
header {
    background-image: url(natsaa.jpg);
    color: white;
    text-align: center;
    padding: 5rem 0;
    position: relative;
}
header::before {
    content:  '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .3)
}
header h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
}
nav {
    background-color: pink;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 auto;
}
.logo a {
    text-decoration: none;
    color: rgb(233, 206, 206);
    font-size: 1.5rem;
    font-weight: bold;
}
.menu {
    list-style-type: none;
    display: flex;
}
.menu li {
    margin: 0 1rem;
}
.menu li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3 ease;
}
.menu li a:hover {
    color: #555;
}
main {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3)
}
.FACIALWASH {
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}
.produck h2 {
    font-size: 24px;
    margin-bottom: 1rem;
    width: 100%;
}
.SCARLET-item {
    background-color: pink;
    box-shadow: 0 0 10px rgba(0, 0, 0, 5);
    margin: 0.5rem;
    max-width: 300px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 1rem;
    border-radius: 5px;
    flex: 1;
    text-align: center;  
    transition: transfrom 0.3s ease;
}
.SCARLET-item:hover {
    transform: scale(1.1);
}
.SCARLET-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
.SCARLET-item h3 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}
.SCARLET-item p {
    font-size: 1rem;
    margin: 0.5rem 0;
}
.SCARLET-item button {
    background-color: #eb7fba;
    color: rgb(136, 9, 79);
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.SCARLET-item button:hover {
    background-color: #555;
    color: white;
}
.PAKET-SCARLET {
    margin-bottom: 2rem;
    text-align: center;
}
.PAKET-SCARLET h2 {
    font-size: 24px;
    margin-bottom: 1rem;
}
.Paket-5-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.Paket-Scarlet-Item {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 5);
    flex: 1;
    width: calc(33.33% - 1rem );
    margin-bottom: 1rem;
    margin-right: 20px;
    margin-left: 20px;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    transition: transfrom 0.3s ease;
}
.Paket-5-item :hover {
    transform: scale(1.1);
}
.Paket-Scarlet-Item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
.Paket-Scarlet-Item h3 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}
.Paket-Scarlet-Item p {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}
.Paket-Scarlet-Item button {
    background-color: #eb7fba;
    color: rgb(136, 9, 79);
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.Paket-Scarlet-Item button:hover {
    background-color: #555;
    color: white;
}
.BODY-LOTION {
    margin-bottom: 2rem;
    text-align: center;
}
.BODY-LOTION h2 {
    font-size: 24px;
    margin-bottom: 1rem;
}
.BODYLOTION {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.SCARLI {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 5);
    flex: 1;
    width: calc(33.33% - 1rem );
    margin-bottom: 1rem;
    margin-right: 20px;
    margin-left: 20px;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    transition: transfrom 0.3s ease;
}

.SCARLI img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
